<h1>Welcome to Chirpus Pizza!</h1>

<h4>Menu</h4>
<hr>
<div *ngFor="let item of Menu"> 
  <h4> {{item.item}}</h4>
  <h4> {{item.price}}</h4>
  <h4> {{item.category}}</h4>
</div>
<hr>
<h4>Menu by Category</h4>
<h2>Dinner's</h2>
<div *ngFor="let i of getByCategory('Dinner')">
  <h4> {{i.item}}</h4>
  <h4> {{i.price | currency}}</h4>
</div>
<br>
<h2>Dessert's</h2>
<div *ngFor="let i of getByCategory('Dessert')">
  <h4> {{i.item}}</h4>
  <h4> {{i.price | currency}}</h4>
</div>
<br>
<h4>Drink's</h4>
<div *ngFor=" let i of getByCategory('Drinks')">
  <h4>{{i.item}}</h4>
  <h4>{{i.price | currency}}</h4>
</div>
